.layout-content {
  max-width: 864px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.md-dialog-content {
  min-width: 400px;
}

md-icon.fa {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}