.layout-content {
  max-width: 864px;
  padding-left: 15px;
  padding-right: 15px;
}

.md-dialog-content {
  min-width: 400px;
}

md-icon.fa {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.date-error {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  opacity: 1;
  margin-top: 0;
  padding-left: 64px;
  color: rgb(221, 44, 0);
}